/* Palette light */
:root.light-mode {
  /* Elements */
  --background: #fffffe;
  --headline: #181818;
  --paragraph: #2e2e2e;
  --button: #994ff3;
  --buttonText: #181818;

  /* Illustration */
  --stroke: #181818;
  --main: #f2eef5;
  --highlight: #4fc4cf;
  --secondary: #994ff3;
  --tertiary: #fbdd74;
  --red: #fe646f;
}

/* Palette dark */
:root.dark-mode {
  /* Elements */
  --background: #16161a;
  --headline: #fffffe;
  --paragraph: #2e2e2e;
  --button: #7f5af0;
  --buttonText: #fffffe;

  /* Illustration */
  --stroke: #010101;
  --main: #fffffe;
  --highlight: #2cb67d;
  --secondary: #72757e;
  --tertiary: #fbdd74;
  --red: #fe646f;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: inherit;
}

/* 
Font 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900

.inter-tight-<uniquifier> {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 21px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

/* Generiche  */
body {
  font-family: "Inter Tight", sans-serif;
  background-color: var(--main);
  color: var(--headline);
}

::backdrop {
  background-color: var(--main);
  opacity: 60%;
}

/* Utilities */
.container {
  margin: 0 auto;

  width: 393px;
  height: 852px;
  border-radius: 2rem;
  background-color: var(--background);

  border: 2rem solid var(--background);

  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .color-mode {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--headline);

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

nav .color-mode i {
  color: var(--tertiary);
}

header {
  padding: 1rem 1rem 0 1rem;

  background-color: var(--secondary);
  color: var(--main);
  height: 12rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-img,
.header-img img {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

section.daily-section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

section.weekly-section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

div.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dialog {
  justify-self: center;
  align-self: center;

  border: 0;
  background-color: var(--background);
  border-radius: 2rem;
  padding: 2rem;

  max-width: 30ch;
  line-height: 1.5;
  text-align: center;
}

.dialog-btns {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.confirm-reset,
.confirm-trash {
  color: var(--highlight);
  font-size: 2.5rem;
}

.cancel-reset,
.cancel-trash {
  color: var(--red);
  font-size: 2.5rem;
}

div.daily-list,
div.daily-list-completed {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

div.task {
  padding: 1rem;

  background-color: var(--main);
  height: 4rem;
  border-radius: 1rem;

  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  color: var(--paragraph);
}

.check-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.6rem;
  height: 1.6rem;
  border: 0.2rem solid var(--red);
  border-radius: 20%;
}

.check-btn i {
  opacity: 0;
}

.task.checked h3 {
  text-decoration: line-through;
}

.task.checked .check-btn {
  background-color: var(--highlight);
  opacity: 40%;
  border: 0;
}

.task.checked .check-btn i {
  color: var(--main);
  opacity: 100;
}

.new-task-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.new-btn {
  width: 3rem;
  height: 3rem;
  border: 0;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.new-btn i {
  color: var(--button);
  font-size: 48px;
}

.new-task-menu {
  visibility: hidden;

  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  width: 100%;
  background-color: var(--secondary);
  border-radius: 1rem;
  padding: 1rem;
}

.popup {
  visibility: visible;
}

.new-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-title h2 {
  color: var(--main);
}

/* .new-title .star-icon {
  color: var(--tertiary);
  opacity: 50%;
} */

.new-title .close-icon {
  color: var(--tertiary);
}

.new-title .star-icon:active {
  opacity: 100%;
}

.new-menu-last {
  display: flex;
}

.new-menu-last input.new-task-title {
  flex-grow: 2;

  height: 3rem;
  padding: 0.8rem;
  border-radius: 1rem 0 0 1rem;
  border: 0;
  background-color: var(--main);

  font-family: inherit;
  font-size: 14px;
}

.new-menu-last input.new-task-title:focus {
  outline: none;
}

.new-menu-last .add-task-btn {
  padding: 0 0.5rem;
  border-radius: 0 1rem 1rem 0;
  border: 0;

  font-size: 32px;
  color: var(--button);
  background-color: var(--main);
}
